/* Playground - AQI List  */
.project-image.aqi{
    background-color: #E8F3FF;
}
.project-image.aqi img{
    object-fit: cover;
    height: 80%;
}

/* Playground - Todo List  */
.project-image.todo{
    background-color: #E8E8FF;
}
.project-image.todo img{
    object-fit: cover;
    height: 100%;
}

/* Playground - Calculator */
.project-image.calculator{
    background: #34495e;
    width: 100%;
}
.project-image.calculator img{
    padding: 4rem;
    width: auto;
    height: 100%;
}

/* Playgrond - Rock Paper Scissors */
.project-image.rps{
    background: rgb(238, 238, 238);
}
.project-image.rps img{
    width: 100%;
    height: auto;
}

/* JS Badge Styling */
.badge{
    position: absolute;
    width: 32px;
    z-index: 2;
    top: 0;
    left: -15px;
    margin-top: 1rem;
}