/* Global Styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Satoshi, Poppins, Inter, Arial, Helvetica, sans-serif;
}

/* Variables */
:root {
    /* Spacing */
    --vertical-XXS: 8px;
    --vertical-XS: 12px;
    --vertical-S: 16px;
    --vertical-M: 20px;
    --vertical-L: 24px;
    --vertical-XL: 32px;
    --vertical-XXL: 40px;
    --vertical-XXXL: 64px;
    --vertical-XXXXL: 120px;

    --horizontal-XXS: 8px;
    --horizontal-XS: 12px;
    --horizontal-S: 16px;
    --horizontal-M: 20px;
    --horizontal-L: 24px;
    --horizontal-XL: 32px;
    --horizontal-XXL: 40px;
    --horizontal-XXXL: 64px;

    --global-margin: 10vw;

    /* Border Radius */
    --radius-XS: 2px;
    --radius-S: 6px;

    /* Colors */
    --surface-background: #fff;
    --surface-foreground-1: #F7F8F9; 
    --surface-foreground-2: #F1F2F4;
    --surface-foreground-3: #EAEDF2;
    --surface-outline: #DCDFE4;
    --surface-invert-1: #161a1d;
    --surface-invert-2: #0f1316;

    --surface-foreground-blur: rgba(255, 255, 255, 0.8);

    --surface-accent-1: rgba(0, 98, 244, 0.08);
    --surface-accent-2: rgba(0, 98, 244, 0.05);

    --text-neutral-primary: #091E42;
    --text-neutral-secondary: #2C3E5D;
    --text-neutral-placeholder: #758195;
    --text-neutral-white: #fff;

    --accent-dark: #0043CE;
    --accent: #0062F4;
    --accent-hover: #0043CE;

    --icon-neutral: #758195;
    --icon-neutral-hover: #5f6879;

    /* Elevation */
    --elevation-1: none;
    --elevation-2: rgba(0, 0, 0, 0.08) 0px 3px 24px;

    /* Wrapper */
    --wrapper-max-1: 1280px;

    /* Custom Colors */
    --bg-amper-20: rgba(0, 0, 0, 0.05);
    --bg-flint-20: #DCE9FD;
    --bg-nimbus-20: #EDE7FF;

    --text-accent-amper: #FF286C;
    --text-accent-flint: #0062F4;
    --text-accent-nimbus: #6F3FCC;

    /* Icon Size */
    --icon-S: 24px;
    --icon-M: 32pt;
    --icon-L: 40px;
    --icon-XL: 64px;
    --icon-XXL: 80px; 
}

/* Dark Mode Variables */
.darkmode {
    --surface-background: #161a1d;
    --surface-foreground-1: #1D2125; 
    --surface-foreground-2: #282E33;
    --surface-foreground-3: #232A32;
    --surface-outline: #22262B;

    --surface-foreground-blur: rgba(22, 26, 29, 0.8);

    --surface-accent-1: rgba(0, 98, 244, 0.2);
    --surface-accent-2: rgba(0, 98, 244, 0.1);

    --text-neutral-primary: #DEE4EA;
    --text-neutral-secondary: #b2beca;
    --text-neutral-placeholder: #8C9BAB;
    --text-neutral-white: #fff;

    --accent-dark: #78A9FF;
    --accent: #0062F4;
    --accent-hover: #0043CE;

    --icon-neutral: #758195;
    --icon-neutral-hover: #5f6879;

    --elevation-1: rgba(0, 98, 244, 0.05) 0px 2px 16px;
    --elevation-2: rgba(0, 98, 244, 0.1) 0px 3px 32px;

    --bg-amper-20: rgba(255, 255, 255, 0.05);
    --bg-flint-20: #182453;
    --bg-nimbus-20: #2C333A;

    --text-accent-amper: #FF286C;
    --text-accent-flint: #62A0F8;
    --text-accent-nimbus: #8d41ff;
}

/* Special Inverted Surface (Footer & Copyright) */
.invert-1{
    background-color: var(--surface-invert-1);
    --surface-foreground-1: #1D2125;
    --text-neutral-primary: #DEE4EA;
    --text-neutral-secondary: #b2beca;
    --text-neutral-placeholder: #8C9BAB;
    --surface-outline: #22262B;
}
.invert-2{
    background-color: var(--surface-invert-2);
    --text-neutral-primary: #DEE4EA;
    --text-neutral-secondary: #b2beca;
    --text-neutral-placeholder: #8C9BAB;
    --surface-outline: #22262B;
}


/* Typography */

.text-title-1 {
    font-size: 3rem;
    color: var(--text-neutral-primary);
}

.text-title-2 {
    font-size: 2rem;
    color: var(--text-neutral-primary);
}

.text-title-3-strong {
    font-size: 1.5rem;
    color: var(--text-neutral-primary);
}

.text-title-3 {
    font-weight: 500;
    font-size: 1.5rem;
    color: var(--text-neutral-primary);
}

.text-subtitle-1-strong {
    font-weight: bold;
    font-size: 1.5rem;
    color: var(--text-neutral-secondary);
}

.text-subtitle-1 {
    font-size: 1.3rem;
    line-height: 28pt;
    color: var(--text-neutral-secondary);
}

.text-subtitle-2-strong {
    font-weight: bold;
    font-size: 1.25rem;
    color: var(--text-neutral-secondary);
}

.text-subtitle-2 {
    font-size: 1.25rem;
    color: var(--text-neutral-secondary);
}

.text-body-1-strong {
    font-weight: bold;
    font-size: 1.25rem;
    line-height: 26pt;
    color: var(--text-neutral-secondary);
}

.text-body-1 {
    font-size: 1.25rem;
    line-height: 24pt;
    color: var(--text-neutral-secondary);
}

.text-body-2-strong {
    font-weight: bold;
    font-size: 1rem;
    color: var(--text-neutral-secondary);
}

.text-body-2 {
    font-size: 1rem;
    color: var(--text-neutral-secondary);
}

.accent {
    color: var(--accent);
}
.underline:hover{
    color: var(--accent-dark);
}

/* Custom Surface Color */
.bg-flint-20 {
    background-color: var(--bg-flint-20);
}
.bg-nimbus-20 {
    background-color: var(--bg-nimbus-20);
}
.bg-amper-20 {
    background-color: var(--bg-amper-20);
}
.bg-neutral-10 {
    background-color: var(--surface-foreground-1);
}
.bg-neutral-20 {
    background-color: var(--surface-foreground-2);
}

/* Sizing */
.size-XXL{
    width: 80px;
    height: auto;
}
.size-XL{
    width: 64px;
    height: auto;
}
.size-L{
    width: 44px;
    height: auto;
}

/* Global Navigation Styling */
body {
    background-color: var(--surface-background);
}

.loader{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--vertical-XS);
    width: 100vw;
    height: 100vh;
    z-index: 99;
    background-color: var(--surface-background);
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    top: 0;
    z-index: 2;
    position: sticky;
    padding: var(--vertical-M) var(--global-margin);
    background-color: var(--surface-foreground-blur);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-bottom: 1px solid var(--surface-outline);
}

.navigation-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: var(--wrapper-max-1);
}

.navigation-action {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--horizontal-XL);
}

.menu-list {
    display: flex;
    flex-direction: row;
    gap: var(--horizontal-S);
}

.site-name-wrapper{
    display: flex;
    gap: var(--vertical-XS);
    align-items: center;
    cursor: pointer;
}

img.site-logo{
    max-width: var(--vertical-XXL);
}

.menu {
    position: relative;
}

.menu:after {
    content: '';
    width: 0%;
    height: 2px;
    bottom: -4px;
    left: 0;
    right: 0;
    margin: auto;
    background-color: var(--text-neutral-secondary);
    transition: 300ms;
    position: absolute;
}

.menu:hover:after {
    width: 80%;
    transition: 300ms;
}

.menu.current {
    font-weight: bold;
    color: var(--text-neutral-primary);
    position: relative;
}

.menu.current:after {
    content: '';
    width: 80%;
    height: 2px;
    bottom: -4px;
    left: 0;
    right: 0;
    margin: auto;
    background-color: var(--accent);
    position: absolute;
}

.button-toggle-theme {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    padding: var(--vertical-XXS) var(--horizontal-XXS);
    background-color: var(--surface-foreground-1);
    border-radius: 100%;
    cursor: pointer;
}

.button-toggle-theme:hover {
    background-color: var(--surface-foreground-2);
}

.button-hamburger {
    width: 36px;
    height: 36px;
    display: none;
}

.menu-hamburger {
    position: fixed;
    top: -100%;
    display: none;
    z-index: 3;
    opacity: 0;
}

/* Footer */
.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: var(--vertical-XXXL) var(--global-margin);
    border-top: 1px solid var(--surface-outline);
    margin-top: var(--vertical-XXXL);
}

.footer-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--vertical-XL);
    max-width: var(--wrapper-max-1);
}
.footer-contact{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
}
.contact {
    display: flex;
    flex-direction: row;
}

img.linkedin{
    cursor: pointer;
}

/* Copyright Bar */
.copyright {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: var(--vertical-M) var(--global-margin);
    border-top: 1px solid var(--surface-outline);
}

.copyright-wrapper {
    width: 100%;
    max-width: var(--wrapper-max-1);
}

/* Global Element Styling */

/* Link */
a{
    cursor: pointer;
    text-decoration: none;
}

/* Divider */
hr.divider{
    width: 100%;
    border: 1px solid var(--surface-outline);
}

/* Button */
button{
    display: flex;
    flex-direction: row;
    padding: var(--vertical-XS) var(--vertical-XS);
    width: fit-content;
    border-radius: var(--radius-XS);
    border: none;
    cursor: pointer;
    box-shadow: var(--elevation-1);
}
.button:hover{
    box-shadow: var(--elevation-2);
}
.button-primary{
    color: var(--text-neutral-white);
    background-color: var(--accent);
}
.button-primary:hover{
    transition: 300ms;
    background-color: var(--accent-hover);
}

/* Tag */
.tag{
    display: flex;
    flex-direction: row;
    width: fit-content;
    color: var(--text-neutral-primary);
    border-radius: var(--radius-S);
}
.tag.amper{
    color: var(--text-accent-amper);   
}
.tag.flint{
    color: var(--text-accent-flint);
}
.tag.nimbus{
    color: var(--text-accent-nimbus);
}


/* Global Section Styling */
.media-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--vertical-XXL);
    padding: var(--vertical-XXXXL) var(--global-margin);
}

.media-title {
    display: flex;
    flex-direction: column;
    gap: var(--vertical-S);
}

.media-title h2, .media-title p, .media-title a {
    text-align: center;
    max-width: 75ch;
}

.media-title.left h2, .media-title.left p, .media-title.left a {
    text-align: left;
    max-width: 75ch;
}

.media-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: var(--vertical-XXXL);
    max-width: var(--wrapper-max-1);
    width: 100%;
}

/* Media Container */
.media {
    border-radius: var(--radius-S);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--vertical-S);
}

.media img,
.media video {
    flex-basis: calc(50% - var(--horizontal-XXXL));
    max-width: 600px;
    width: 100%;
    border-radius: var(--radius-S);
}


.media-wrapper img {
    width: 100%;
    border-radius: var(--radius-S);
}

/* Media Wrapper Variants */
.media-wrapper.mirror {
    flex-direction: row-reverse;
}

.media-wrapper.single,
.media-wrapper.pair {
    align-items: center;
    justify-content: center;
}

.media-wrapper.single {
    flex-direction: column;
}

.media-wrapper.single img, .media-wrapper.single video {
    width: 100%;
    height: auto;
}

/* Media Wrapper Grid */
.media-wrapper.grid {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(auto-fit, 1fr);
    gap: var(--vertical-M) var(--horizontal-M);
    justify-items: center;
    align-items: center;
}

/* 2:1 Grid Styling */
/* Used for showcasing images. In a set of 3 images, 1st image takes up the first row, the rest take up second row equally */

.media-wrapper.grid.flint img:nth-child(1) {
    grid-column: 1 / 3;
    grid-row: 1 / 1;
}

/* Media Wrapper Column */
.media-wrapper.column {
    flex-direction: column;
}

/* Media Caption */
.media-caption {
    text-align: center;
}

/* Media Label */
.media-label {
    display: flex;
    flex-direction: column;
    gap: var(--vertical-L);
    flex-basis: calc(50% - var(--horizontal-XXXL));
}

/* Media Grid */
/* Used for Problem section to introduce the context of the project */

.media-grid {
    display: flex;
    flex-direction: column;
    padding: var(--vertical-XXXL) var(--global-margin);
    justify-content: center;
    align-items: center;
}

.media-grid-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, fr);
    grid-template-rows: repeat(3, fr);
    column-gap: var(--horizontal-XXXL);
    row-gap: var(--horizontal-XXXL);
    max-width: var(--wrapper-max-1);
}
.media-grid-wrapper div img{
    width: 100%;
    height: auto;
}

.media-grid-wrapper div:first-child {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.media-grid-wrapper div:nth-child(2) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.media-grid-wrapper div:nth-child(3) {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    grid-column: 2 / 4;
    grid-row: 1 / 3;
}

/* Title Block */
.section-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: var(--vertical-S) var(--global-margin);
    gap: var(--vertical-M);
}

.section-title.tall {
    padding: var(--vertical-XXXL) var(--global-margin);
}

.section-title.accent {
    background-color: var(--surface-accent-2);
}

.section-title h1,
.section-title p {
    max-width: 50ch;
    text-align: center;
}

/* Info Card */
.info-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--vertical-XXL);
    padding: var(--vertical-XXXXL) var(--global-margin);
}

.info-wrapper {
    max-width: var(--wrapper-max-1);
    width: 100%;
}

.info-label{
    display: flex;
    flex-direction: column;
    margin-bottom: var(--vertical-XL);
    gap: var(--vertical-S);
    max-width: 60ch;
}

.info-card-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--horizontal-M);
}

.info-card{
    background-color: var(--surface-foreground-1);
    /* border: 1px solid var(--surface-outline); */
    border-radius: var(--radius-S);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    padding: var(--vertical-XL) var(--horizontal-XXL);
    min-width: 300px;
}

/* For 3 cards per row */
.info-card-wrapper.three-cards .info-card{
    flex: 1;
}

/* For 2 cards per row */
.info-card-wrapper.two-cards .info-card{
    flex: calc(50% - var(--horizontal-L));
}

.info-card-icon{
    margin-bottom: var(--vertical-S);
}

.info-card h1{
    margin-bottom: var(--vertical-XXS);
}

/* Project Styling */
.project-image{
    display: flex;
    justify-content: center;
    width: 100%;
}
.project-image picture img, .project-image picture source{
    width: 100%;
    height: auto;
    object-fit: cover;
}

.project-header{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: var(--vertical-XXXL) var(--global-margin);
    border-bottom: 2px solid var(--surface-outline);
} 
.project-header-wrapper{
    gap: var(--horizontal-XXXL);
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    max-width: var(--wrapper-max-1);
}
.project-header-wrapper.dark{
    color: var(--text-neutral-primary);
}
.project-header-wrapper h1, .project-header-wrapper p{
    text-align: left;
    max-width: 40ch;
}
.project-header-wrapper div{
    flex: 1;
    min-width: 150px;
}
.project-header-wrapper div:first-child{
    flex: 1.5;
    min-width: 350px;
}
.project-name{
    margin-bottom: 1rem;
}


/* Local Element Styling */

.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: var(--horizontal-XL) var(--global-margin);
}
.hero-wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: var(--wrapper-max-1);
    gap: var(--horizontal-XL);
}
.hero-wrapper img{
    flex: 1;
    max-width: 400px;
    width: 100%;
    height: auto;
}
.hero-label{
    flex: 1;
    min-width: 25ch;
    display: flex;
    flex-direction: column;
    gap: var(--vertical-S);
}
.hero-label p{
    max-width: 40ch;
}
.portfolio{
    display: flex;
    flex-direction: column;
    padding: var(--vertical-XL) var(--global-margin);
    justify-content: center;
    align-items: center;
}
.portfolio-wrapper{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: var(--vertical-L);
    justify-content: space-between;
    align-items: flex-start;
    max-width: var(--wrapper-max-1);
}
.card{
    display: flex;
    flex-direction: column;
    outline: 1px solid var(--surface-outline);
    border-radius: var(--radius-S);
    overflow: hidden;
    flex-basis: calc(50% - var(--vertical-M));
    min-width: 290px;
    width: 100%;
    cursor: pointer;
    transition: 300ms;
    position: relative;
}
.card:hover{
    scale: 99%;
    transition: 300ms;
}
.card-thumbnail{
    background-color: var(--surface-foreground-2);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 400px;
}
img.card-image{
    height: 100%;
    width: auto;
}
video.card-video{
    width: 100%;
    height: auto;
}

.card-footer{
    background-color: var(--surface-foreground-1);
    padding: var(--vertical-XL) var(--horizontal-XL);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    gap: var(--horizontal-L);
}
.card-label{
    display: flex;
    flex-direction: column;
    gap: var(--vertical-XXS);
}
.card-title-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--horizontal-XXS);
}
.mode-support{
    width: 24px;
}
.card-arrow img{
    opacity: 0%;
    padding-right: var(--horizontal-XS);
    transition: 300ms;
}
.card:hover{
    box-shadow: var(--elevation-2);
}
.card:hover > .card-footer > .card-arrow img{
    opacity: 100%;
    padding-right: 0px;
    transition: 300ms;
}

/* Card Specific Custom Styling */
.card-thumbnail.amper{
    /* background-color: #FF286C; */
}
.card-thumbnail.nimbus{
    /* background-color: #8A4DFF; */
    padding: 3rem;
}
.card-image.nimbus{
    width: 100%;
    height: auto;
}

.card-thumbnail.lmwn{
    /* background-color: #2EAE7C; */
}
.card-image.lmwn{
    padding: 2rem;
}

.card-thumbnail.flint{
    /* background-color: #3F7CF1; */
}
.card-image.flint{
    padding: 1.5rem 1.5rem 0 1.5rem;
}

.card.amper:hover > .card-thumbnail.amper{
    transition: 300ms;
    /* background-color: #FF286C; */
}
.card.nimbus:hover > .card-thumbnail.nimbus{
    transition: 300ms;
    /* background-color: #8A4DFF; */
}
.card.flint:hover > .card-thumbnail.flint{
    transition: 300ms;
    /* background-color: #3F7CF1; */
}
.card.lmwn:hover > .card-thumbnail.lmwn{
    transition: 300ms;
    /* background-color: #32bb86; */
}

/* About Page */

.my-desktop{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: var(--vertical-XXXL) var(--global-margin);
    gap: var(--horizontal-XXL);
}
.desktop-icon-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    gap: var(--horizontal-L);
    padding: 0 var(--horizontal-M);
}
img.desktop-icon{
    width: 100%;
    min-width: 32px;
    max-width: 64px;
}

/* Custom Project Styling */

.project-image.lmwn {
    background: linear-gradient(67deg, #0577A4 20.54%, #27AC76 57.87%);
}

/* Breakpoint 1 */

@media screen and (max-width: 1200px) {
    body{
        --global-margin: 8vw;
        
        /* Icon Size */
        --icon-S: 16px;
        --icon-M: 24pt;
        --icon-L: 32px;
        --icon-XL: 56px;
        --icon-XXL: 72px; 
    }
    /* Media Grid */
    .media-grid-wrapper {
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        grid-template-rows: auto;
    }
    .media-grid-wrapper div{
        grid-column: auto;
        grid-row: auto;
    }

    .media-grid-wrapper div:nth-child(2) {
        grid-column: auto;
        grid-row: auto;
    }

    .media-grid-wrapper div:nth-child(3) {
        display: none;
    }
}
/* Breakpoint 2 */

@media screen and (max-width: 1024px) {

    /* Global Section Styling */
    .media-block{
        padding: var(--vertical-XXXL) var(--global-margin);
    }
    .media-wrapper{
        flex-basis: 100%;
        flex-direction: column;
        gap: var(--vertical-XXL);
    }
    .media-wrapper.mirror{
        flex-direction: column;
        gap: var(--vertical-XXL);
    }
    .media-label{
        flex-basis: 100%
    }

    /* Local Styling */
    .card{
        flex-basis: 100%;
        width: 100%;
    }
}

/* Breakpoint 3 */

@media screen and (max-width: 768px){

    /* Global Styling */
    body{
        --global-margin: 24px;
    }

    /* Typography */
    .text-title-1{
        font-size: 2.5rem;
    }
    .text-title-2{
        font-size: 1.5rem;
    }
    .text-title-3-strong{
        font-size: 1.4rem;
    }
    .text-title-3{
        font-weight: 500;
        font-size: 1.4rem;
    }
    .text-subtitle-1-strong{
        font-size: 1.4rem;
    }
    .text-subtitle-1{
        font-size: 1.4rem;
        line-height: 32pt;
    }
    .text-subtitle-2-strong{
        font-size: 1.3rem;
    }
    .text-subtitle-2{
        font-size: 1.3rem;
    }
    .text-body-1-strong{
        font-size: 1.2rem;
        
    }
    .text-body-1{
        font-size: 1.2rem;
        
    }
    .text-body-2-strong{
        font-weight: bold;
        font-size: 1rem;
    }
    .text-body-2{
        font-size: 1rem;
    }

    /* Global Navigation stlying */

    .navigation-action{
        display: none;
    }
    .menu-hamburger{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: var(--vertical-XL);
        background-color: var(--surface-foreground-2);
        width: 100%;
        height: 100%;
        transition: 300ms;
        opacity: 100%;
    }
    .button-hamburger{
        display: block;
        cursor: pointer;
    }

    .button-hamburger.close{
        position: absolute;
        right: var(--horizontal-L);
        top: var(--horizontal-L);
    }
        
}
