/* Variables */
:root{
    --color-primary: #111111;
    --color-secondary: #242424;
    --color-accent: #3541CA;
    --color--accent--background: #EDF2FF;
    --color-background: #FFFFFF;

    --font-intro: 2.5rem;
    --font-subheader: 2.1rem;
    --font-title: 2rem;
    --font-bodyL: 1.75rem;
    --font-bodyM: 1.25rem;
    --font-bodyS: 1.1rem;

    --font-weight-L: 550;
    --font-weight-M: 400;

    --line-height-XS: 175%;
    --line-height-S: 200%;

    --text-width: 70ch;

    --body-padding: 4vh 6vw 4vh 6vw;
    --content-padding: 6vh 12vw 6vh 12vw;
    --bodyMobile-padding: 4vh 4vw 4vh 4vw;

    --invest-gradient: linear-gradient(180deg, #4E7AEC 0%, #4E7AEC 0.01%, #4551DF 100%);
    --lmwn-gradient: linear-gradient(269.02deg, #0577A4 0%, #27AC76 65.33%);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Satoshi', 'Poppins', Arial, Helvetica, sans-serif;
}

/* Under Construction Page */
.thankYou{
    width: 100%;
    margin-top: 10vh;
    margin-bottom: 10vh;
    padding: var(--body-padding);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.thankYou h1{
    font-size: 3rem;
}
.thankYou p{
    font-size: var(--font-bodyS);
}
#returnHome{
    color: white;
    background-color: #000000;
    padding: 0.75rem;
    border-radius: 6px;
    cursor: pointer;
    text-decoration: none;
    transition: 100ms;
    font-size: 1rem;
    font-weight: 400;
    margin: 2rem;
}
#returnHome:hover{
    scale: 1.05;
    background-color: #161616;
    transition: 300ms;
}

/* Top Navigation Menu */
#siteLogo{
    max-width: 2.5rem;
    height: auto;
}
#siteTitle{
    text-decoration: none;
    font-size: 1.75rem;
    font-weight: 500;
    color: var(--color-primary);
    font-style: normal;
    line-height: 1.4em;
    padding: 8px;
    transition: 400ms;
}
#siteTitle:hover{
    transition: 400ms;
    opacity: 70%;
}
.header{
    position: sticky;
    top: 0;
    z-index: 99;
    background-color: rgba(255,255,255, 0.8);
    -webkit-backdrop-filter: blur(40px);
    backdrop-filter: blur(40px);
    display: flex;
    flex-direction: row;
    padding: 1.5vh 6vw 1.5vh 6vw;
    pointer-events: auto;
    justify-content: space-between;
    align-items: center;
    transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.header-content {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    justify-content: flex-start;
    align-items: center;
    justify-content: space-between;
}
#logoWrapper{
    display: flex;
    gap: 0.25rem;
}

.header-nav nav ul{
    display: flex;
    flex-direction: row;
    list-style: none;
}
.header-nav nav ul li{
    padding: 0px 12px 0px 12px;
    font-size: 1.2rem;
    text-align: center;
}
.header-nav nav ul li a{
    font-weight: 400;
    text-decoration: none;
    color: var(--color-primary);
    list-style: none;
    line-height: 4rem;
    font-style: normal;
    letter-spacing: 0em;
    text-transform: none;
    position: relative;
    flex-wrap: nowrap;
}
.header-nav nav ul li a::after{
    content: '';
    background: var(--color-primary);
    border-radius: 24;
    width: 0%;
    height: 2px;
    left: 0;
    bottom: -2px;
    position: absolute;
}
/* Hover */
.header-nav nav ul li a:hover::after{
    width: 100%;
    transition: 0.4s;
}
/* Active */
.header-nav nav .nav-menu.active-menu a::after{
    width: 100%;
    transition: 0.4s;
}

/* Intro Banner */

.intro{
    font-size: var(--font-subheader);
    background-color: var(--color-background);
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: var(--body-padding);
    gap: 3rem;
}
.introText{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex-basis: 50%;
}
.intro img{
    max-width: 400px;
}
.intro h1{
    font-size: var(--font-intro);
    font-weight: var(--font-weight-L);
    text-align: left;
    max-width: 50ch;
}
.intro p{
    font-size: var(--font-bodyM);
    color: var(--color-secondary);
    line-height: var(--line-height-S);
    max-width: 50ch;
}
.intro.playground{
    gap: 1rem;
}


/* Footer */

footer{
    background-color: var(--color-background);
    color: var(--color-primary);
    padding: var(--body-padding);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-text{
    display: flex;
    flex-direction: column;
    gap: var(--line-height-XS);
}
footer img{
    width: 32px;
    height: 32px;
    transition: 0.3s;
    border-radius: 4px;
}
footer img:hover{
    opacity: 80%;
}
.footer-text p:first-child{
    font-weight: var(--font-weight-L);
    margin-bottom: 24px;
}

/* Animated Arrow */
.more{
    padding: var(--body-padding);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.more lord-icon{
    rotate: 90deg;
}
.more#pg lord-icon{
    rotate: 0deg;
}

/* Portfolio */

.portfolio{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: var(--font-bodyM);
    width: 100%;
    box-sizing: border-box;
    padding: var(--body-padding);
    gap: 2rem;
    justify-content: flex-start;
}
/* Project Blocks */
.project{
    color: var(--color-primary);
    background-color: var(--color-background);
    display: flex;
    flex-direction: column;
    transition-duration: 400ms;
    overflow: hidden;
    width: 100%;
    flex-basis: calc(50% - 1rem);
    max-width: 800px;
    text-decoration: none;
}
/* Project Image General Styling */
.project-image{
    overflow: hidden;
    background-color: white;
    position: relative;
    border-radius: 6px;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

img.thumbnail-image {
    width: 100%;
    height: auto;
}

a.project:visited{
    color: var(--color-primary);
}
.project:hover {
    transform: scale(1.02);
    cursor: pointer;
    transition-duration: 400ms;
}
/* Project and Read More Button */
.project-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    padding: 3rem 1rem 3rem 1rem;
}
/* Project Text Target */
.project h1{
    color: var(--color-primary);
    font-size: var(--font-subheader);
}
.project p{
    color: var(--color-secondary);
    font-size: var(--font-bodyM);
    margin-top: 0.5rem;
}

/* Project Animated Read More Arrow */
.project:hover > .project-text > .explore-button-icon > .explore-arrow{
    opacity: 1;
    transition-duration: 400ms;
    transform: translateX(0.24rem);
}
.project:hover > .project-text > .explore-button-icon > .explore{
    transition-duration: 400ms;
    color: var(--color-accent);
    font-weight: 600;
}

.project-image.invest{
    align-items: flex-end;
}

/* Calculator thumbnails */
.project-image.calculator{
    background: #34495e;
    width: 100%;
}
.project-image.calculator img{
    padding: 4rem;
    width: auto;
    height: 100%;
}

.project-image.rps{
    background: rgb(238, 238, 238);
}
.project-image.rps img{
    width: 100%;
    height: auto;
}
/* Portfolio Animated Arrow Explore */
.explore{
    color: var(--color-accent);
    font-weight: 600;
    cursor: pointer;
}
.explore-button-icon{
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
}
button{
   background: none;
   border: none;
   font-size: 1.1rem;
}
.explore-arrow {
    margin-top: 4px;
    width: 20px;
    height: 20px;
    opacity: 0;
}

/* Project Invest */

.project-image.invest{
    background: linear-gradient(180deg, #4E7AEC 0%, #4E7AEC 0.01%, #4551DF 100%);
}

/* Overlay Invest*/
.project-overlay.invest{
    opacity: 0;
    z-index: 2;
    background-color: #3265E9;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
    gap: -4rem;
    justify-content: center;
    align-items: center;
    transition: 400ms;

}
.project-overlay.invest img{
    padding-top: 2rem;
    scale: 1.8;
    width: fit-content;
    height: auto;
}
.project-overlay.invest :nth-child(1){
    transform: translateY(100%);
}
.project-overlay.invest :nth-child(2){
    transform: translateY(100%);
}
.project-overlay.invest :nth-child(3){
    transform: translateY(100%);
}
.project.invest:hover > .project-image.invest > .project-overlay.invest{
    opacity: 100%;
    transition: 400ms;

}
.project.invest:hover > .project-image.invest > .project-overlay.invest :nth-child(1){
    transform: translateY(0%);
    transition: 1000ms cubic-bezier(0.4, 0.0, 0.2, 1);
}
.project.invest:hover > .project-image.invest > .project-overlay.invest :nth-child(2){
    transform: translateY(0%);
    transition: 800ms cubic-bezier(0.4, 0.0, 0.2, 1);
}
.project.invest:hover > .project-image.invest > .project-overlay.invest :nth-child(3){
    transform: translateY(0%);
    transition: 400ms cubic-bezier(0.4, 0.0, 0.2, 1);
}

/* Hero Banner styling */

.heroBanner{
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 90vh;
}
.heroBanner img{
    object-fit: cover;
    width: 100%;
}
/* Hero Banner Custom styling */
.heroBanner.grow{
    background-color: #00705E;
}

/* Project Intro Banner and Texts*/

.projectIntro{
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: flex-start;
    align-items: flex-start;
    padding: var(--content-padding);
    text-align: center;
    margin-top: 10vh;
}
.projectIntro img{
    z-index: 2;
    max-width: 160px;
}
.projectIntro p{
    z-index: 2;
    font-size: var(--font-bodyM);
    line-height: var(--line-height-S);
    max-width: 70ch;
}
/* Flint Styling */
.projectIntro.invest img{
    max-width: 160px;
}
.projectIntro.invest p{
    color: white;
}
/* G2Z Styling */
.projectIntro.grow{
    color: white;
}
.projectIntro.grow img{
    max-width: 300px;
}

/* Project Overview */
.projectOverview{
    padding: var(--content-padding);
    display: flex;
    gap: 5rem;
}
.respo p{
    font-size: var(--font-bodyM);
    margin-bottom: 1rem;
    color: var(--color-secondary);
}
.respo :not(:first-child){
    font-weight: 500;
}

/* Project Grow 2 Zero */
.project-image.grow{
    background: #eeeeee;
}
img.thumbnail-image.grow{
    object-fit: cover;
}
/* Overlay Grow */
.project-overlay.grow{
    z-index: 2;
    position: absolute;
    width: 100%;
    height: 100%;
}
.project-overlay.grow img{
    object-fit: cover;
    width: 100%;
    height: auto;
    position: absolute;
    bottom: -100%;
    clip-path: inset(40px 0 0 0);
    transition: 300ms cubic-bezier(0.4, 0.0, 0.2, 1);
}
.project.grow:hover > .project-image.grow > .project-overlay.grow{
    background-color: #ffffff;
}
.project.grow:hover .project-overlay.grow img{
    bottom: 0%;
}
.project.grow:hover .project-overlay.grow :nth-child(1){
    transition: 300ms cubic-bezier(0.4, 0.0, 0.2, 1);
}
.project.grow:hover .project-overlay.grow :nth-child(2){
    transition: 500ms cubic-bezier(0.4, 0.0, 0.2, 1);
}

/* Project LMWN */

.heroBanner.lmwn{
    width: 100%;
}
.heroBanner.lmwn img{
    width: 100%;
}

.project-image.lmwn{
    background: var(--lmwn-gradient);
}
img.thumbnail-image.lmwn{
    object-fit: cover;
    width: 70%;
}
.project-overlay.lmwn{
    overflow: hidden;
    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
    justify-content: center;
}
.project-overlay.lmwn img{
    padding: 12px;
    margin: 0;
    width: 2rem;
    min-width: 130px;
    transform: scale(0);
}
img.project-image.lmwn{
    padding-left: 6vw;
    padding-right: 6vw;
    padding-top: 6vh;
    padding-bottom: 6vh;
}
.project.lmwn:hover > .project-image.lmwn > .project-overlay.lmwn > .lm{
    transform: scale(1);
    transition: cubic-bezier(0.19, 1, 0.22, 1) 400ms;
}
.project.lmwn:hover > .project-image.lmwn > .project-overlay.lmwn > .wn{
    transform: scale(1);
    transition: cubic-bezier(0.19, 1, 0.22, 1) 400ms;
    transition-delay: 100ms;
}
.project.lmwn:hover > .project-image.lmwn > .project-overlay.lmwn{
    background-color: #F6F9FC;
}

/* Progress bar */
.progress-bar{
    --progress: 0;
    height: 4px;
    width: var(--progress);
    /* background: linear-gradient(90deg, rgba(71,118,230,1) 0%, rgba(142,84,233,1) 50%, rgba(255,0,153,1) 100%); */
    background-color: black;
    position: fixed;
    top: 0;
    z-index: 100;
}


/* Tag is a colorful chip above each section with relevant keywords */
.tag{
    font-size: 1rem;
    font-weight: var(--font-weight-L);
    display: flex;
    padding: 8px;
    width: fit-content;
    border-radius: 4px;
}
/* Custom Tag Colors */
.tag.invest{
    color: var(--color-accent);
    background-color: var(--color--accent--background);
}
.tag.lmwn{
    color: rgb(17, 102, 68);
    background: #cbf1e2;
}
.tag.grow{
    color: rgb(17, 102, 68);
    background: #cbf1e2;
}

/* Topic section contains an image pair with a body of texts. It can be flipped by adding "flip" to the class name*/

.topic{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--content-padding);
    flex-wrap: wrap;
    gap: 2rem;
}
.topic.flip{
    flex-direction: row-reverse;
}
.topicImage{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

}
.topicImage img{
    width: 100%;
    max-width: 600px;
    border-radius: 6px;
}
.topicVideo video{

    width: 100%;
    max-width: 600px;
}
/* Custom Styling for About Page to fill the whole vh */
.topic.about{
    height: 90vh;
}
/* Columns of Text beside an image in each section */

.topicText{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 60ch;
    text-align: left;
}
.topicText p{
    font-size: var(--font-bodyS);
    line-height: var(--line-height-XS);
    color: var(--color-secondary);
}

/* Special Styling */

.topic#context{
    padding-top: 12vh;
    padding-bottom: 12vh;
}

/* Section with a single large image, spanning across the vw*/
/* Section with large image and caption */
.showcaseSection{
    display: flex;
    flex-direction: column;
    font-size: var(--font-bodyS);
    text-align: center;
    padding: 0;
    gap: 2rem;
    padding-bottom: 10vh;
}
.showcase img{
    display: block;
    margin: auto;
    width: 100%;
    max-width: 1000px;
}

/* Accent is the colored line included for aesthetic purposes. */

.accent{
    width: 44px;
    height: 6px;
    border-radius: 4px;
}
.accent.invest{
    background-color: var(--color-accent);
}
.accent.grow{
    background-color: #058F79;
}
/* Section text divides sections with centralized text and description */

.sectionText{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--content-padding);
    gap: 1rem;
}
.sectionText p{
    font-size: var(--font-bodyS);
    line-height: var(--line-height-XS);
    color: var(--color-secondary);
    max-width: 100%;
}
.sectionText.small{
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.sectionText.small p{
    text-align: center;
    max-width: 70ch;
}

/* Gallery section showcases images for the project in a grid */

.gallery{
    display: flex;
    flex-wrap: wrap;
    padding: var(--body-padding);
    margin-top: 12vh;
    margin-bottom: 12vh;
    gap: 3rem;
    align-items: center;
    justify-content: center;
}
#showcase img{
    border-radius: 16px;
    display: block;
    height: auto;
    width: 100%;
    min-width: 320px
}

#showcase img:first-child {
    flex-basis: 100%;
}
#showcase img:not(:first-child) {
    flex-basis: calc(50% - 1.5rem);
}

/* Flint project alert bottom sheets gallery */

#alert{
    justify-content: space-around;
    margin: 0;
}
#alert img{
    flex-basis: 50%;
    width: 100%;
    max-width: 350px;
    padding: 1rem;
}
#alert p{
    width: 100%;
    text-align: center;
}

/* Pair section contains two images next to one another */
.pair{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}
.pair img{
    opacity: 70%;
    flex-basis: 50%;
    min-width: 400px;
    max-width: 750px;
}
.pair video{
    flex-basis: 50%;
    min-width: 400px;
    max-width: 700px;
}


/* Project Banner */
.banner{
    width: 100%;
}
.banner img{
    margin-top: 8vh;
    max-width: 100%;
}
/* Project Overview */
.projectOverview{
    flex-direction: column;
    gap: 3rem;
    padding: 4rem 2rem 4rem 2rem;
}
img#lmwn{
    padding: 3rem;
}

/* Resizing */
.project-overlay.invest img{
    scale: 1.4;
}
.gallery img:not(:first-child) {
    flex-basis: 100%;
}

/* Wide screen center the projects in the center */
@media (min-width: 2820px) {
    .portfolio{
        justify-content: center;
    }
    
}
/* Tablet */

@media  (max-width: 1380px){
    .project h1{
        font-size: var(--font-bodyL);
    }
    .project p{
        font-size: var(--font-bodyS);
        margin: 0.25rem;
    }


} 
@media (max-width: 1200px){
    /* Common Layout */
    .topicImage{
        max-width: 600px;
    }
    .projectIntro img{
        max-width: 120px;
    }
    .projectIntro.invest img{
        max-width: 120px;
    }


}
@media (max-width: 1000px){
    *{
        -webkit-font-smoothing: antialiased;
    }
    main{
        width: 100%;
    }
    .navmenu{
        background-color: none;
        position: fixed;
        opacity: 0;
        top: -100vh;
        right: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column !important;
        justify-content: start;
        z-index: 98;
        transition: 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
    }
    .navmenu.active{
        opacity: 100%;
        top: 0;
        background-color: rgba(255,255,255, 1);
        transition: 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
    }
    nav ul{
        padding-top: 50%;
    }
    nav ul li a{
        font-size: 2rem;
    }
    .bar{
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: cubic-bezier(0.075, 0.82, 0.165, 1);
        background-color: black;
        border-radius: 4px;
    }
    .ham{
        display: block;
        z-index: 99;
        position: right;
        cursor: pointer;
    }
    .ham.active{
        position: absolute;
        right: 6vw;
        top: 3vh;
    }
    .ham.active .bar:nth-child(1){
        transition: 400ms cubic-bezier(0.075, 0.82, 0.165, 1);
        transform: translateY(8px) rotate(45deg);
    }
    .ham.active .bar:nth-child(2){
        transition: 100ms;
        opacity: 0;
    }
    .ham.active .bar:nth-child(3){
        transition: 400ms cubic-bezier(0.075, 0.82, 0.165, 1);
        transform: translateY(-8px) rotate(-45deg);
    }
    /* Main Page Banner */
    .intro{
        padding-bottom: 5vh;
    }
    .introText{
        flex-basis: 100%;
    }
    .introText p{
        max-width: 100ch;
    }
    .intro img{
        width: 100%;
        max-width: 500px;
    }
    .heroBanner{
        height: auto;
        align-items: center;
    }
    .heroBanner img{
        object-fit: fill;
    }
    /* Wrap portfolio projects into column */
    .project{
        flex-basis: 100%;
        max-width: none;
    }
    /* Better wrapping of topic section */
    .topic{
        flex-direction: column;
    }

}
@media (max-width: 900px){
    .projectIntro{
        height: 100%;
        max-height: 80vh;
        align-items: flex-start;
    }
    /* Add padding to alert on smaller screen */
    #alert img{
        padding: 2.5rem;
    }


}
/* Mobile */
@media (max-width: 800px){
    .topic{
        padding: var(--bodyMobile-padding);
    }
    .project-text{
        line-height: 2.5rem;
        width: 100%;
        padding-top: 2rem;
        padding-bottom: 1rem;
    }
    /* Project Overview */
    .projectOverview{
        flex-direction: column;
        gap: 3rem;
        padding: 4rem 2rem 4rem 2rem;
    }
    .projectIntro img{
        max-width: 100px;
    }
    img#lmwn{
        padding: 3rem;
    }
    .explore-button-icon{
        display: none;
    }
    /* Resizing */
    .project-overlay.invest img{
        scale: 1.0;
    }
    /* gallery */
    #showcase img:not(:first-child) {
        min-width: 100%;
    }
    /* section text styling */
    .sectionText{
        padding: var(--bodyMobile-padding);
    }
    .project-image{
        height: 400px;
    }
    img.thumbnail-image{
        width: 120%;
    }
    /* Topic Styling */
}
    

@media (max-width: 600px){
    /* gallery */
    .gallery img{
    max-width: 100%;
    }
}
