*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins, Arial, Helvetica, sans-serif;
}
html{
    scroll-behavior: smooth;
}
/* Hero Banner */

/* HERO BANNER */
.hero{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 4vh 6vw 15vh 6vw;
    margin-top: 15vh;
}
.hero-text{
    max-width: 50ch;
}
.hero-text h1{
    padding-bottom: 24px;
}
.hero-text #who{
    padding-bottom: 16px;
}
img.hero-image{
    max-width: 500px;
    padding: 3%;
}

.More{
    padding-top: 2vh;
    padding-bottom: 2vh;
}

/* -------------------------------------------- */

/* Universal Text Style */

/* UNIVERSAL TEXT STYLE */
.hero-large-text{
    color:#0A2540;
    font-weight: 500;
    font-size: 2.5rem;
}
.header1{
    color:#0A2540;
    font-weight: 500;
    font-size: 2rem;
}
.header2{
    color:#0A2540;
    font-weight: 500;
    font-size: 1.2rem;
}
.subheader{
    color:#0A2540;
    font-weight: 500;
    font-size: 1.5rem;
}

/* CLASSIC */
.header-classic{
    font-family: "Brygada 1918", 'Times New Roman', Times, serif;
    font-weight: 500;
    font-size: 3rem;
}
.header-classic-small{
    font-size: 2rem;
    font-family: "Brygada 1918", 'Times New Roman', Times, serif;
    font-weight: 500;
}
.p-classic{
    font-family: "Brygada 1918", 'Times New Roman', Times, serif;
    font-weight: 500;
    font-size: 1.4rem;
}
.p-classic-small{
    font-family: "Brygada 1918", 'Times New Roman', Times, serif;
    font-weight: 500;
    font-size: 1.2rem;
    color: #4b4b4b;
    text-align: center;
}
.mini-hero .p-classic-small{
    margin-top: 2vh;
}



.paragraph1{
    color:#0d1012;
    font-weight: 350;
    line-height: 1.8;
    font-size: 1.1rem !important;
    text-align: left;
}
.paragraph2{
    font-weight: 300;
    font-size: 1rem;
    max-width: 100ch;
    text-align: center;
    margin: auto;
}
.paragraph3{
    font-weight: 300;
    color:#1b2128;
    font-size: 1rem;
    line-height: 1.8;
    max-width: 55ch;
    text-align: left;
}
.paragraph4{
    font-weight: 500;
    color:#1b2128;
    font-size: 1.2rem;
    line-height: 2;
    max-width: 55ch;
    text-align: center;
    margin: auto;
}
.animate, .animate2{
    font-size: 2.5rem;
    font-weight: 500;
}
.simple-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 6vh;
    margin-bottom: 6vh;
    width: 100%;
    background-color: white;
}
.textbox h1{
    display: block;
    text-align: left;
    margin-bottom: 2rem;
}
.textbox p{
    max-width: 75ch;
}
/* ------------------------------------------------ */
/* Universal Section Style */

.topic{
    padding-top: 8vh;
    padding-bottom: 8vh;
    padding-left: 8vw;
    padding-right: 8vw;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6rem;
}
.topic.ds{
    text-align: justify;
}
.topic.flip{
    flex-direction: row-reverse;
}
.topic.video video{
    width: 42%;
}
.main-article :nth-child(even){
    flex-direction: row-reverse;
}

/* Large Cover Photo */
.large-cover img{
    width: 100%;
    margin-top: 2vh;
    margin-bottom: 10vh;
}
.large-cover-text{
    width: 100%;
    text-align: center;
    max-width: 100ch;
    margin-bottom: 32px;
}

/* Flint Logo Th */
img#flint-logo-th{
    margin-top: 4rem;
    margin-bottom: 4rem;
    padding: 1%;
}

/* Divider */
.article-divider{
    width: 100%;
    display: flex;
    gap: 2rem;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 10vh 0 6vh 0;
}
/* Divider Line */
.article-divider-line{
    border: 1px solid #afafaf;
    width: 120px;
}

/* ARTICLE */

.article{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5vh;
    padding-bottom: 5vh;
    gap: 5vh;
}
.article-text-content{
    display: flex;
    flex-direction: column;
    gap: 1vh;
}
.article-text{
    display: flex;
    flex-direction: column;
    padding-right: 6vw;
    padding-left: 6vw;
    width: 100%;
    max-width: 100vh;
    gap: 5vh;
}

.article-image{
    width: fit-content;
    max-width: 70%;
    height: auto;
    padding-left: 4vh;
    padding-right: 4vh;
    padding-top: 2vh;
    padding-bottom: 5vh;
    display: block;
}
.article-list{
    font-weight: 100;
    list-style-position: inside;
}
.article-list li{
    margin-bottom: 1vh;
}

.topic-image{
    max-width: 42%;
}
.topic-text{
    max-width: 55ch;
}
.topic-text.ds{
    max-width: 55ch;
}
.topic-text h1{
    margin-bottom: 2rem;
}
.topic-list{
    font-size: 1.1rem;
    font-weight: 100;
    list-style-position: inside;
}
.topic-list li{
    margin-bottom: 2vh;
}

 /* Scroll Animation for Ticker View */
.ticker-scroll{
    max-width: 42%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}
.screen-overlay{
    max-width: 100%;
    z-index: 2;
}
.screen-scroll{
    position: absolute;
    opacity: 100%;;
    width: 41%;
    justify-content: flex-start;
    z-index: 0;
    bottom: -85%;
    animation: screen-scroll;
    animation-delay: 1500ms;
    animation-duration: 12s;
    animation-iteration-count: infinite;
}


@keyframes screen-scroll {
    0% {
        bottom: -85%;
    }
    50%{
        bottom: 20%
    }
    100%{
        bottom: -85%
    }
}

/* ------------------------------- */

/* Informative Design & Hover Animation */

.box-wrapper{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 32px;
    padding-left: 3vw;
    padding-right: 3vw;
}
.box-image{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    position: relative;
}
.box-text{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 8px;
    max-width: 40ch;
}
.box-image img{
    max-width: 80%;
    padding: 16px;
}
.box-wrapper > .box-image:hover > .box-hover{
    opacity: 100%;
    scale: 1.35;
    transition: 400ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.box-hover{
    position: absolute;
    width: 58%;
    top: 21.2%;
    transition: 400ms;

}
.box-hover.bottom-sheet{
    transition: 400ms cubic-bezier(0.075, 0.82, 0.165, 1);
    position: absolute;
    width: 62%;
    top: 14%;
}

/* ------------------------------- */

/* Universal Text Styling */
.portfolio-title{
    font-size: 2rem;
    color:#0A2540;
}
.portfolio-subtitle{
    font-size: 1.1rem;
    font-weight: 400;
    color:#0A2540;
}

/* Explore Button */
.explore{
    cursor: pointer;
}
.explore-button-icon{
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
}
button, .explore-button-icon{
   background: none;
   border: none;
   font-size: 1.1rem;
}
.explore-arrow {
    width: 20px;
    height: 20px;
    opacity: 0;
}

/* More Animated Arrow*/
.More{
    padding-top: 3vh;
    padding-bottom: 6vh;
    width: 100%;
    display: flex;
    justify-content: center;
}
.More img{
    width: 44px;
}


/* Portfolio Area */

.portfolio-project{
    height: 100%;
    width: 100%;
    padding-bottom: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* Portfolio Block Styling */
a.portfolio-block{
    border: 2px solid #e6e6e6;
    background-color: white;
    display: flex;
    flex-direction: row;
    transition-duration: 600ms;
    overflow: hidden;
    width: 100%;
    height: 60vh;
    text-decoration: none;

}
a.portfolio-block:visited{
    color: #0A2540;
}
.portfolio-block:hover {
    transform: scale(1.02);
    cursor: pointer;
    transition-duration: 500ms;
}
.portfolio-block:hover > .portfolio-text > .explore-button-icon > .explore-arrow{
    opacity: 1;
    transition-duration: 400ms;
    transform: translateX(0.24rem);
}
.portfolio-block:hover > .portfolio-text > .explore-button-icon > .explore{
    transition-duration: 400ms;
    color: #3541CA;
    font-weight: 600;
}
/* Portfolio Text and Button */

.portfolio-text{
    flex: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-left: 5vw;
    padding-right: 5vw;
    gap: 4rem;
}
.portfolio-description{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

/* Portfolio Image General Styling */
.portfolio-thumbnail{
    overflow: hidden;
    width: 100%;
    flex: 50%;
    background-color: white;
    margin: 0;
    position: relative;
}
.portfolio-thumbnail img{
    height: 100%;
    width: 100%;
}

/* ------------------------------------------ */

img.thumbnail-image.arch{
    object-fit: cover;
}

/* FLINT FLINT FLINT */
/* Flint Project Thumbnail Image (2 Phones) */

img.thumbnail-image.flint{
    position: absolute;
    scale: 1.4;
    width: 100%;
    height: 100%;
    bottom: -35%;
    object-fit: contain;
}
.bubble-overlay{
    width: 100%;
    height: 100%;
}
.portfolio-thumbnail.flint{
    background-color: #4E7AEC;
}
/* Flint - Project Hover Overlay Boundary */
.thumbnail-overlay.flint{
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
}

/* Flint Project - Frame of popping stock bubbles */
.bubble-overlay{
    width: 100%;
}
/* Flint Project - Stock bubble */

.stock-bubble{
    position: absolute;
    z-index: 3;
    height: auto;
    scale: 0;
}
.stock-bubble#SET{
    width: 68px;
    left: 28%;
    top: 22%;
    height: auto;
}
.stock-bubble#NYSE{
    width: 68px;
    right: 26%;
    top: 16%;

}
.stock-bubble#NASDAQ{
    width: 68px;
    left: 26%;
    top: 25%;

}
#flint-hover-hand{
    position: absolute;
    left: 15%;
    top: 100%;
    width: 65%;
    transform: rotate(-42deg);
    transition: cubic-bezier(0.19, 1, 0.22, 1) 1000ms;
    z-index: 2;
}


/* Flint Project - Hand Holding Phone Animation */
.portfolio-block.flint:hover #flint-hover-hand{
    transform: rotate(0deg);
    left: 23%;
    top: 15%;
    transition: cubic-bezier(0.19, 1, 0.22, 1) 800ms;
}
/* Flint Project - Background Appear when Hover */
.portfolio-block.flint:hover > .portfolio-thumbnail.flint > .thumbnail-overlay.flint{
    background-color: #4E7AEC;
    z-index: 1;
}

/* Flint Project - Stock Bubble Hover Animation */
.portfolio-block.flint:hover > .portfolio-thumbnail.flint > .thumbnail-overlay.flint > .bubble-overlay >.stock-bubble {
    scale: 1;
    transition: 400ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.portfolio-block.flint:hover > .portfolio-thumbnail.flint > .thumbnail-overlay.flint >  .bubble-overlay > .stock-bubble#SET{
    transition-delay: 150ms;
}
.portfolio-block.flint:hover > .portfolio-thumbnail.flint > .thumbnail-overlay.flint >  .bubble-overlay > .stock-bubble#NYSE{
    transition-delay: 300ms;
}
.portfolio-block.flint:hover > .portfolio-thumbnail.flint > .thumbnail-overlay.flint >  .bubble-overlay > .stock-bubble#NASDAQ{
    transition-delay: 450ms;
}



/* LINE MAN WONGNAI */
/* Portfolio Image LMWN Specific Styling */


.portfolio-thumbnail.lmwn{
    background: linear-gradient(269.02deg, #0577A4 0%, #27AC76 65.33%);
}
.portfolio-thumbnail.lmwn img{
    height: 100%;
}
.thumbnail-overlay.lmwn{
    overflow: hidden;
    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
    justify-content: center;
}
.thumbnail-overlay.lmwn img{
    padding: 12px;
    margin: 0;
    width: 2rem;
    min-width: 130px;
    transform: scale(0);
}
img.thumbnail-image.lmwn{
    padding-left: 6vw;
    padding-right: 6vw;
    padding-top: 6vh;
    padding-bottom: 6vh;
}
.portfolio-block.lmwn:hover > .portfolio-thumbnail.lmwn > .thumbnail-overlay.lmwn > .lm{
    transform: scale(1);
    transition: cubic-bezier(0.19, 1, 0.22, 1) 400ms;
}
.portfolio-block.lmwn:hover > .portfolio-thumbnail.lmwn > .thumbnail-overlay.lmwn > .wn{
    transform: scale(1);
    transition: cubic-bezier(0.19, 1, 0.22, 1) 400ms;
    transition-delay: 100ms;
}
.portfolio-block.lmwn:hover > .portfolio-thumbnail.lmwn > .thumbnail-overlay.lmwn{
    background-color: #F6F9FC;
}
.hero-banner-flint{
    background: linear-gradient(180deg, #4E7AEC 0%, #4E7AEC 0.01%, #4551DF 100%);
    z-index: -2;
	animation: gradient 10s ease infinite;
    height: 100vh;
    margin-top: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10vw;
    padding-right: 10vw;
    margin-top: 10vh;
    margin-bottom: 5vh;
    padding-bottom: 10vh;
    padding-top: 10vh;
}
#hero-banner-logo-flint{
    position: center;
    width: 10vw;
    min-width: 120px;
    max-width: 10vw;
}
#hero-banner-il{
    object-fit: cover;
}


/* MOBILE & SMALLER SCREEN */

@media  (max-width: 1380px){
    .stock-bubble{
        display: none;
    }
    .article-image{
        max-width: 80%;
    }
    .hero{
        padding-top: 1vh;
    }

}
@media (max-width: 1000px){

    /* Main Page hero Banner */
    
    .hero{
        flex-direction: column;
        padding-bottom: 10vh;
    }
    .hero-image{
        width: 100%;
        max-width: 50ch;
        margin: 5vh 0 0 0;
    }

    /* Flint hero */
    .hero-banner-flint{
        flex-direction: column;
        padding-left: 8vw;
        padding-right: 8vw;
        padding-top: 4vh;
        padding-bottom: 2vh;
        align-items: center;
        justify-content: center;
        gap: 5vh;
        height: fit-content;
    }
    #hero-banner-il {
        width: 100%;
        object-fit: cover;
    }


    /* Topic */
    .topic{
        flex-direction: column;
    }
    .topic.flip{
        flex-direction: column;
    }
    .topic-image{
        max-width: 100%;
        padding: 2rem;
    }
    .topic.ds > .topic-image{
        padding: 0;
    }
    .ticker-scroll{
        max-width: 100%;
    }
    .box-wrapper > .box-image:hover > .box-hover{
        scale: 1.2;
    }



    .topic.video video{
        width: 100%;
    }
    .main-article :nth-child(even){
        flex-direction: column;
    }
    /* Article */
    .article{
        align-items: center;
    }
    .large-cover-text{
        padding-left: 8vw;
        padding-right: 8vw;
        text-align: left;
    }

}
@media (max-width: 768px){

    /* UNIVERSAL TEXT STYLING */
    .portfolio-project{
        padding-left: 8vw;
        padding-right: 8vw;
        gap: 40px;
    }

    .portfolio-title{
        font-size: 1.8rem;
    }
    .portfolio-subtitle{
        font-size: 0.9rem;
        font-weight: 400;
    }
    .portfolio-thumbnail{
        flex-basis: 90%;
    }
    .portfolio-text{
        padding-left: 5vw;
        padding-right: 5vw;
        padding-top: 3vh;
        padding-bottom: 3vh;
    }
    a.portfolio-block{
        border-radius: 8px;
        flex-direction: column;
    }

    /* Article Styling */
    .article-image{
        max-width: 100%;
    }
    .topic-image{
        max-width: 100%;
    }

    img.stock-bubble{
        max-width: 44px;
    }
    img.thumbnail-image{
        left: 1%;
    }
    img#lmwn{
        padding: 3rem;
    }
    .explore-button-icon{
        display: none;
    }
}