*{
    margin: 0;
    padding: 0;
    font-family: 'satoshi', sans-serif;
}

body{
    background-color: #e8ebf0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    overflow: hidden;
}
h1{
    font-size: 2.5rem;
    font-weight: 700;
    color: #1b1a18;
}
.buttonRow{
    display: flex;
    justify-content: space-between;
    gap: 44px;
}
button{
    width: 160px;
    height: 160px;
    border: none;
    padding: 2.5rem;
    background-color: white;
    border-radius: 100%;
    transition: 400ms cubic-bezier(0.075, 0.82, 0.165, 1);
    cursor: pointer;
}
button img{
    width: 100%;
    height: 100%;
}
button:hover{
    scale: 1.1;
    transition: 400ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.display{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: fit-content;
}
@media (max-width: 760px){
    body{
        padding: 2vw;
    }
    h1{
        font-size: 2rem;
    }
    .buttonRow{
        display: flex;
        justify-content: center;
        width: 100%;
        gap: 16px;
        padding-left: 6vw;
        padding-right: 6vw;
    }
    button{
        padding: 1.5rem;
        height: 100px;
        width: 100px
    }
    button:hover, button:active{
        scale: 1.1;
    }
    .display{
        font-size: 1.2rem;
    }
    .result{
        font-size: 1.2rem;
    }
}